<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="../../assets/EEA-sample-app.png"/>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <br>
  <div class="info">
    <a href="#"> Back </a>
  </div>
  <br>
  
  <ion-grid>
    <br>
    <br>
    
    <ion-row>
    
      <ion-col  class="text">
          
          <ion-note>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Voluptatem eius totam natus vel vero quo accusamus, voluptate ut dolorum,
            incidunt cupiditate ex molestias fugit dolor pariatur aliquid, ad sapiente? Ut.
          </ion-note>

      </ion-col><!-- END OF 2ND COL -->
  
    
    
     </ion-row> <!-- END OF ROW -->

  </ion-grid> <!-- END OF GRID LAYOUT -->
</ion-content> <!-- END OF CONTENT -->
