
.info{
    float:right;
    font-size: medium;
    border-radius: 15em;
    background-color: teal;
    padding: 15px;
    margin-right: 15vw;
    a{
      text-decoration: none;
      color: white;
  
    }
  }

  .text{
    padding-top: 5vh;
    padding-left: 10vw;
    padding-right: 10vw;
  }