ion-content ion-toolbar {
  --background: translucent;
}


.card{
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  flex-wrap: wrap;
  height: 60vh;
}

/* .card-description{

}

.button-container{
  
} */
