<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      EEA Sample App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<a href="/info" class="btn">Info</a>
  <ion-grid>
    <br>
    <br>
    
    <ion-row>
    
      <ion-col col-6 *ngFor="let c of cards">
          <ion-card (click)="seleccionarElemento(c)"  class = "card">

            <ion-card-header class ="card-header">
              <p>{{c.title}}</p>
              <img [src]="c.imageUri" alt="">
            </ion-card-header>

            <ion-card-content class = "card-description">
              <p>{{c.description}}</p>
              
              <div class ="button-container">
                <ion-button (click)="openSystem(c)" expand="block" fill="clear" shape="round">
                  Open 
                </ion-button>
              </div>
            </ion-card-content>
            
            
          </ion-card>
      </ion-col><!-- END OF 2ND COL -->
  
    
    
     </ion-row> <!-- END OF ROW -->

  </ion-grid> <!-- END OF GRID LAYOUT -->
</ion-content> <!-- END OF CONTENT -->
