ion-content ion-toolbar {
  --background: translucent;
}


.card{
  display: flex;
  align-items: center;
  height: 75vh;
}

.card-description{

}

.button-container{
  
}

.card{
  display: flex;
  flex-direction: column;
}